.aef_image_wrapper .progress-disabled {
  float: none;
  display: inline;
}

.aef-image-informations {
  border:1px solid #CCCCCC;
  background-color: #EEEEEE;
  padding:3px;
  margin-top:5px;
}

.aef-image-informations table.aef-image-informations-infos {
  width:100%;
}

.aef-image-informations tbody {
  border-top:0px solid;
}

.aef-image-informations .form-item {
  margin:0px;
}

.aef-image-informations td.aef-image-infos-legend input {
  width:100%;
}

.aef-image-informations td.aef-image-preview-area {
  width:10%;
}

.aef-image-preview {
  padding-left:8px;
}

.aef-image-preview img {
  border:3px solid #CCCCCC;
}

.aef-image-informations-credits {
  width:80px;
}

.aef-image-widget-presets {
  margin-top:6px;
}

.aef-image-preset {
  padding-bottom:10px;
  padding-left:5px;
}

.aef-image-preset-title {
  font-weight:bold;
  padding-bottom:5px;
  padding-top:3px;
  font-size:14px;
}

.aef-image-preset-preview {
  overflow:hidden;
  border:3px solid #CCCCCC;
}

.aef-image-preset .jcrop-holder {
  margin-bottom:5px;
}

.aef_image_fixed_checkbox {
  text-align:center;
}

.aef_image_fixed_checkbox .form-submit {
  margin-bottom:10px;
}


.aef-image-infos {
  font-size:11px;
  color:gray;
}

.aef-image-infos-title {
  font-weight:bold;
}

.aef-image-infos-credits {
  font-size:10px;
}

